* {
    margin: 0;
    padding: 0;
}

body {
    background: #0a122b;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiltcard {
    width: 400px;
    height: 550px;
    background: rgba(255, 255, 255, .25);
    margin: 0 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
}
